* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-size: 1.35vw;
  font-weight: 600;
}

.field {
  position: relative;
  
  width: 100vw;
  min-height: 100vh;
  margin: auto;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  background-size: cover;

  overflow: hidden;
}

.hero {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
}

.hero-wrapper {
  position: absolute;
  bottom: -16vw;
  left: -10vw;
  z-index: 1;
}

.hero-damage {
  position: absolute;
  left: 15.98vw;
  top: 29.17vw;
  min-width: 3.47vw;
  height: 2.08vw;
  padding: 0.35vw;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.2vw solid black;
  border-radius: 0.7vw;

  background-color: red;

  opacity: 0;
}

.enemy {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
}

.enemy-wrapper {
  position: absolute;
  bottom: -9vw;
  right: -5.2vw;
  z-index: 1;
}

.enemy-damage {
  position: absolute;
  right: 15.98vw;
  top: 29.17vw;
  min-width: 3.47vw;
  height: 2.08vw;
  padding: 0.35vw;

  display: flex;
  justify-content: center;
  align-items: center;
  
  border: 0.2vw solid black;
  border-radius: 0.7vw;
  
  background-color: red;

  opacity: 0;
}

@keyframes hit {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-3vw);
    opacity: 0;
  }
}

.interface {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.stats {
  width: 16.7vw;
  padding: 0.8vw 0.8vw 1vw 0.8vw;
  
  background-color: rgba(121, 194, 216, 0.795);
  border-bottom: 0.2vw solid rgb(103, 255, 1);

  z-index: 2;
}

.stats--border-right {
  border-bottom-right-radius: 1vw;
  border-right: 0.2vw solid rgb(103, 255, 1);
}

.stats--border-left {
  border-bottom-left-radius: 1vw;
  border-left: 0.2vw solid rgb(103, 255, 1);
}

.stats__list {
  list-style: none;
}

.stats__item {
  margin-bottom: 0.35vw;  
}

.stats__value {
  text-shadow: 0 0 0.07vw black;
}

.stats__value--red {
  color: red;
}

.stats__value--yellow {
  color: rgb(255, 174, 0);
}

.stats__value--silver {
  color: rgb(201, 192, 187);
}

.attack-skills {
  margin-top: 0.7vw;
}

.attack-skills__descriptions {
  font-size: 0.97vw;
  font-weight: 400;
}

.attack-skills__description {
  display: none;
}

.attack-skills__icon {
  width: 2.22vw;
  height: 2.22vw;
  margin-right: 0.7vw;

  border-radius: 0.5vw;

  cursor: pointer;
}

.attack-skills__icon:nth-last-child(1) {
  margin-right: 0;
}

.attack-skills__damage {
  font-weight: 600;
  text-shadow: 0 0 0.07vw black;
}

.attack-skills__damage-physical {
  color: rgb(255, 0, 0);
}

.attack-skills__damage-piercing {
  color: rgb(51, 255, 0);
}

.attack-skills__damage-magic {
  color: rgb(0, 0, 255);
}

.attack-skills__name {
  font-size: 1.11vw;
  font-weight: 600;
  color: rgb(139, 46, 58);
}

