* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-size: 1.35vw;
  font-weight: 600;
  color: antiquewhite;
}

.field {
  position: relative;
  
  width: 100vw;
  min-height: 100vh;
  margin: auto;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  background-size: cover;

  overflow: hidden;
}

.hero {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
}

.hero-wrapper {
  position: absolute;
  bottom: -16vw;
  left: -10vw;
  z-index: 1;
}

.hero-damage {
  position: absolute;
  left: 15.98vw;
  bottom: 42vh;
  min-width: 3.47vw;
  height: 2.08vw;
  padding: 0.35vw;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.2vw solid black;
  border-radius: 0.7vw;

  background-color: red;
  color: rgb(0, 0, 0);

  opacity: 0;

  z-index: 2;
}

.enemy {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
}

.enemy-wrapper {
  position: absolute;
  bottom: -9vw;
  right: -5.2vw;
  z-index: 1;
}

.enemy-damage {
  position: absolute;
  right: 15.98vw;
  bottom: 42vh;
  min-width: 3.47vw;
  height: 2.08vw;
  padding: 0.35vw;

  display: flex;
  justify-content: center;
  align-items: center;
  
  border: 0.2vw solid black;
  border-radius: 0.7vw;
  
  background-color: red;
  color: rgb(0, 0, 0);

  opacity: 0;

  z-index: 2;
}

@keyframes hit {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-5vh);
    opacity: 0;
  }
}

.interface {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stats {
  position: relative;

  width: 16.7vw;
  padding: 0.8vw 0.8vw 0.7vw 0.8vw;

  flex-shrink: 0;
  align-self: flex-start;
  
  background-color: rgba(12, 80, 100, 0.795);
  border-bottom: 0.2vw solid rgb(255, 137, 27);

  z-index: 3;
}

.stats--border-right {
  border-bottom-right-radius: 1vw;
  border-right: 0.2vw solid rgb(255, 137, 27);
}

.stats--border-left {
  border-bottom-left-radius: 1vw;
  border-left: 0.2vw solid rgb(255, 137, 27);
}

.stats__list {
  list-style: none;
}

.stats__item {
  margin-bottom: 0.35vw;  
}

.stats__value {
  text-shadow: 0 0 0.05vw rgb(139, 139, 139);
}

.stats__value--red {
  color: red;
}

.stats__value--yellow {
  color: rgb(255, 174, 0);
}

.stats__value--silver {
  color: rgb(201, 192, 187);
}

.attack-skills {
  margin-top: 0.7vw;
}

.attack-skills__descriptions {
  margin-top: 0.5vw;

  font-size: 0.97vw;
  font-weight: 400;
  line-height: 130%;
}

.attack-skills__description {
  display: none;
}

.attack-skills__icon {
  width: 2.22vw;
  height: 2.22vw;
  margin-right: 0.7vw;

  border-radius: 0.5vw;
  border: 0.14vw solid black;

  cursor: pointer;
}

.attack-skills__icon:nth-last-child(1) {
  margin-right: 0;
}

.attack-skills__damage {
  font-weight: 600;
  font-size: 1.05vw;
  text-shadow: 0 0 0.05vw rgb(139, 139, 139);
}

.attack-skills__damage-physical {
  color: rgb(255, 153, 0);
}

.attack-skills__damage-piercing {
  color: rgb(0, 255, 115);
}

.attack-skills__damage-magic {
  color: rgb(0, 255, 213);
}

.attack-skills__name {
  font-size: 1.11vw;
  font-weight: 600;
  color: rgb(253, 215, 0);
}

.hero-name {
  font-size: 1.2vw;
  font-weight: 900;
  color: rgb(133, 162, 255);
}

.enemy-name {
  font-size: 1.2vw;
  font-weight: 900;
  color: rgb(255, 141, 96);
}

.battle-log {
  align-self: start;
  width: 100%;
  max-height: 8vw;
  
  background-color: rgba(12, 79, 100, 0.616);
  opacity: 0.9;
  
  font-size: 1vw;
  
  overflow-y: auto;
  z-index: 3;
}

.battle-log__item {
  margin: 0.4vw 0.4vw 0.4vw 0.4vw;
}

.passive-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}

.passive-skill-hero {
  position: absolute;
  left: 0;
  top: calc(100% + 0.4vw);
  width: 16.7vw;

  opacity: 0.85;
}
.passive-skill-enemy {
  position: absolute;
  left: 0;
  top: calc(100% + 0.4vw);
  width: 16.7vw;

  opacity: 0.85;
  z-index: 3;
}

.passive-skill__description {
  padding: 0.4vw;

  font-size: 0.9vw;

  background-color: rgba(12, 80, 100, 0.795);
  border-radius: 1vw;
  border: 0.2vw solid rgb(255, 137, 27);

  opacity: 0;
}

.passive-skill__icon {
  width: 2.22vw;
  height: 2.22vw;
  margin-right: 0.4vw;

  border-radius: 0.5vw;
  border: 0.14vw solid rgb(255, 255, 255);
  
  cursor: pointer;
}

.passive-skill__icon:nth-last-child(1) {
  margin-right: 0;
}

.passive-skill__name {
  color: rgb(0, 255, 21);
}

::-webkit-scrollbar {
  width: 1vw; 
  background-color: #1d1e5298;
}

::-webkit-scrollbar-thumb {
  background-color: #000000ce;
  border-radius: 1vw;
  box-shadow: inset 0.1vw 0.1vw 1vw #9c9c9c;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #610000;
}
